*{
    margin:0px;
    background-color: whitesmoke;
}

.fl{
    float:left;
}

.fr{
    margin-right:33px;
    float:right;
}

.mid{
    float:left;
}

.mid1{
    float:left;
}

h2{
    text-align: center;
    font-size:35px;
}

h3{
    margin-top:10px;
    margin-left:500px;
}

a{
    font-size:25px;
    text-decoration: none;
    color:black;}

.box{
   background-color:blueviolet;
   height:30px;
   width:30px;
   border-radius:50%;
   animation-name:box-animation;
   animation-duration: 5s;
   animation-iteration-count: infinite;
 }   

 @keyframes box-animation{
     0%{
         transform: translate(200px,350px);
     }

     30%{
        transform: translate(450px,100px);
    }

    60%{
        transform: translate(650px,350px);
    }
 }

.box1{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    background-color: bisque;
    height:100px;
    width:15%;
    border-radius:20px;
   
}

.box1:hover{
    transform:skew(20deg,20deg);
    transition-duration: 2s;
}

.box2{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    background-color:cornflowerblue;
    height:100px;
    width:15%;
    border-radius:20px;
}

.box2:hover{
    transform:translate(100px);
    transition-duration: 2s;
}

.box21{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    background-color:cornflowerblue;
    height:100px;
    width:15%;
    border-radius:20px;
}

.box21:hover{
    transform:skew(-25deg,-25deg);
    transition-duration: 2s;
}


.box3{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:darkseagreen;
}

.box3:hover{
    transform:rotate(180deg);
    transition-duration: 3s;
}

.box6{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:darkseagreen;
}

.box6:hover{
    transform:rotate(50deg);
    transition-duration: 3s;
}

.box4{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:grey;
}

.box4:hover{
   transform:translate(-100px);
   transition-duration: 2s;
}

.box5{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:grey;
}

.box5:hover{
   transform:scaleY(2);
   transition-duration: 2s;
}

h1{
    margin-top:40px;
    text-align: center;
    font-size:35px;
}

h4{
    font-size:25px;
    text-align:end;
    margin-right:30px;
    margin-top:80px;
}

a:hover{
    color:purple;
}

.box7{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:145px;
    margin-top:100px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:lightpink;
}

.box7:hover{
   transform:scale(2,2);
   transition-duration: 2s;
}

.box8{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:100px;
    margin-top:30px;
    height:150px;
    width:150px;
    border-radius:40%;
    background-color:lightgreen;
}

.box8:hover{
   transform:rotate(90deg);
   transition-duration: 2s;
}

.box9{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:145px;
    margin-top:30px;
    height:100px;
    width:15%;
    border-radius:20px;
    background-color:grey;
}

.box9:hover{
   transform:scaleY(2);
   transition-duration: 2s;
}

.box10{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:cadetblue;
}

.box10:hover{
   transform:scaleX(2);
   transition-duration: 2s;
}

.box11{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:500px;
    margin-top:80px;
    height:150px;
    width:150px;
    border-radius:40px;
    background-color:mediumslateblue;
}

.box11:hover{
   transform:scaleX(2);
   transition-duration: 2s;
}

.box12{
    display: inline-block;
    grid-template-columns: repeat(4,25fr);
    margin-left:108px;
    margin-top:30px;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color:navajowhite;
}

.box12:hover{
   transform:scale(2,2);
   transition-duration: 2s;
}

